<!DOCTYPE html>
<html>

<head>
    <title>Templates</title>
</head>

<body>

    <div id="snipcart-templates">
       
        <cart
        name="cart"
        v-if="hasItems"
    >
        <section class="snipcart-cart__content">
            <item-list
                item-template="item-line"
                class="snipcart-item-list--no-shadow"
                :show-description="!isSideCart"
            >
                <template
                    v-slot:footer
                    v-if="isSideCart && hasActiveDiscountsTriggerableByCode"
                >
                    <li class="snipcart-item-line snipcart-item-line--cart-edit">
                        <div class="snipcart-item-line__container">
                            <discount-box class="snipcart-cart__discount-box"></discount-box>
                        </div>
                    </li>
                </template>
            </item-list>
            <div class="snipcart-cart__footer">
                <div class="snipcart-cart__footer-col cart__footer-discount-box snipcart-cart__actions">
                    <discount-box
                        v-if="!isSideCart && hasActiveDiscountsTriggerableByCode"
                        class="snipcart-cart__discount-box"
                    ></discount-box>
                </div>
    
                <div class="snipcart-cart__footer-col">
                    <span>PROVA</span>
                   <!--  <summary-fees
                        class="snipcart-cart-summary-fees--reverse"
                        :summary-data="summaryFeesProvider"
                    >
                        {{ $localize('cart.shipping_taxes_calculated_at_checkout')}}

                    </summary-fees>  -->
                    <summary-fees
                    class="snipcart-cart-summary-fees--reverse"
                    :summaryData="summaryFeesProvider"
                >
                    {{ $localize('cart.shipping_taxes_calculated_at_checkout')}}

                </summary-fees>
    
                    <footer v-if="!editingCart || isSideCart" class="snipcart-cart__footer-buttons">
                        <flash-message
                            type="error"
                            v-if="errors != null"
                            :title="$localize('errors.order_validation.custom_fields_validation.title')"
                        >
                            {{$localize('errors.order_validation.custom_fields_validation.description')}}
                        </flash-message>
                        <!-- BUTTON: checkout -->
                        <button-primary
                            label="actions.checkout"
                            icon="continue-arrow"
                            :state="checkoutDisabled ? 'disabled' : undefined"
                            @click="checkout"
                        ></button-primary>
                        <button-link
                            v-if="isSideCart"
                            label="cart.view_detailed_cart"
                            @click="viewDetailedCart"
                        ></button-link>
                    </footer>
    
                    <div class="snipcart-cart__featured-payment-methods-container">
                        <featured-payment-methods v-if="!editingCart"></featured-payment-methods>
                    </div>
                </div>
            </div>
        </section>
    </cart>
    </div>

</body>

</html>